/* Estilos para el footer */
footer {
    background-color: #BD613C;
    color: black;
    text-align: center;
    flex-shrink: 0;
}

/* Estilo para el texto grande */
.footer-large {
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-weight: 800;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
}

/* Estilo para el texto pequeño */
.footer-small {
    font-size: 14px;
}

/* Estilos para los enlaces */
.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

/* Estilos para los logos de las redes sociales */
.footer-links img {
    height: 60px;
    width: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

/* Estilos para los nombres de las redes sociales */
.footer-links span {
    margin-left: 5px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    margin: 30px;
    background-color:black ;
    border-radius: 50%;
}
/*efectos para las redes sociales*/
.socialIcons a i{
    font-size: 3em;
    padding: 2px;
    color: #BD613C;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #BD613C;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color:black;
    transition: 0.5s;
}

