body{
    font-family: var(--main);
    padding: var(--padding);
  }
.app__tittle-imagen__container{
    position: fixed;
    z-index: 100;
    top: 14%;
    left: 26%;
    width: fit-content;
}

.app__tittleW-imagen{
    display: flex;
}
.app__tittle{
    padding-left: 65px;
    width: 30%;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 10px;
    text-shadow: var(--shadows)
}
.app__descripcion{
    position: absolute;
    bottom: 10%;
    left: 42.9%;
    width: 470px;
    height: 176px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    text-shadow: var(--shadows)
}
.app__main-buttons-playstore-imagen {
    position: relative;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    transition: var(--transitions);
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

  }
  .app__main-buttons-playstore {
    background-color: var(--button-color);
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 0 3px;
    width: 190px;
    height: 60px;
    position: absolute;
  }
  .app__main-buttons-playstore {
    display: flex;
  }